<!DOCTYPE html>
<html>
  <head>
    <title>Jovian Careers</title>
    <style>
      h1{
        font-family: Roboto;
        font-size: 60px;
        text-align: center;
      }
      h2{
        font-family: Roboto;
        font-size: 45px;
        text-align: center;
        font-weight: normal;
      }
      #container{
        max-width: 1000px;
        margin: 0 auto;
      }
      </style>
  </head>
  <body>
    <div id="container">
    <h1>Jovian Careers</h1>
    <img src="https://jovian-career-project.vivek-singhsi10.repl.co/static/banner.jpg" height="320" width= 100%>
    <h2>About Jovian</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate vel ligula sit amet mollis. Mauris egestas lorem vel nulla consequat, sit amet ultricies risus ullamcorper. Praesent pharetra dui sit amet suscipit dapibus. Donec libero nulla, hendrerit quis pellentesque at, fermentum vel lorem. Fusce congue ipsum sit amet est congue, a sagittis tortor varius. Curabitur eget luctus justo. Phasellus quis sollicitudin eros. Praesent id metus et nunc euismod vulputate in et justo. Proin aliquet mi vel posuere porttitor. Phasellus consectetur, diam vel lacinia accumsan, tortor purus molestie nunc, et facilisis est sapien in mauris. Maecenas consequat gravida arcu nec imperdiet.
    </p>
    <h2>Job Openings</h2>
    <p>TODO - Show this job here</p>
    <div style='text-align:center'>
      <button style='color:blue'>Contact Us</button>
    </div>
  </body>
</html>